body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

.view-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
    color: #007BFF;
    margin-right: 10px;
}

/* Style for the action buttons */
.action-buttons {
    display: flex; /* Display buttons in a row */
    gap: 10px; /* Spacing between buttons */
  }
  
  /* Style for individual buttons */
  .action-button {
    background-color: #007BFF; /* Background color */
    color: #fff; /* Text color */
    border: none; /* Remove borders */
    padding: 8px 16px; /* Padding for the button */
    cursor: pointer; /* Add a pointer cursor on hover */
  }
  
  /* Hover effect for buttons */
  .action-button:hover {
    background-color: #0056b3; /* Darker background color on hover */
  }

/* button {
    background-color: #d9534f;
    border: none;
    color: white;
    padding: 6px 10px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #c9302c;
} */